.container {
  max-width: 698px;
  width: 100%;
  margin: 42px;
}

.form {
  background: #ffffff;
  border: 1px solid #f1f2f9;
  box-shadow: 0px 1px 8px rgba(25, 33, 61, 0.06);
  border-radius: 32px;
  padding: 48px;
  width: 100%;
}

.formHeader {
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
}
