.container {
  max-width: 698px;
  width: 100%;
}

.stepper {
  &:global(.MuiStepper-root) {
    @media (max-width: 600px) {
      padding: 4px;
      gap: 4px;
    }
  }

  & :global(.MuiStepLabel-label) {
    @media (max-width: 500px) {
      display: none;
    }
  }
}

.form {
  background: #ffffff;
  border: 1px solid #f1f2f9;
  box-shadow: 0px 1px 8px rgba(25, 33, 61, 0.06);
  border-radius: 32px;
  width: 100%;
  padding: 24px;

  @media screen and (min-width: 600px) {
    padding: 48px;
  }
}

.formHeader {
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stepLabel {
  font-size: 18px;
  font-weight: 600;
  color: var(--app-palette-text-primary);
}
