.container {
  background-color: var(--mui-palette-background-paper);
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  @media screen and (min-width: 900px) {
    padding: 42px;
  }
}
